streamlit>=1.33
openai>=1.50.0
mistralai>=1.1.0
google-generativeai>=0.7.2
requests>=2.31.0
beautifulsoup4>=4.12.2
lxml>=4.9.0
PyPDF2>=3.0.1
pysqlite3-binary
protobuf
langchain==0.3.27
langchain-community==0.3.29
langchain-openai==0.3.33
tiktoken
chromadb==0.5.4
unstructured